.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.element--1 {
  background-color: #f33e1e; }

.element--2 {
  background-color: #f33e1ee5; }

.element--3 {
  background-color: #f3501ead; }

.element--4 {
  background-color: #f3501e75; }

.element--5 {
  background-color: #f33e1e48; }

.element--6 {
  background-color: #f3491e18; }
